---
layout: default
---
<style>

      .l-map {
        width: 100%;
        height: 600px;
        background-color: grey;
      }
</style>
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>
</div>


<div class="wrapper">
  <h1> Gf33 är en kontors- och lagerfastighet </h1>

  <p> Gf33 är en kontors- och lagerfastighet som ligger på Banggårdsvägen 33. Bangårdsvägen ligger centralt i Kållered vid E6:an med en pendelsstågsstation precis bredvid. Vi erbjuder lager och kontorsyta på upp till 600 kvadratmeter. Det finns möjligheter att göra anpassningar av ytorna till nya hyresgäster.

  Kontakta info@gf33.se om du vill ha mer information eller vill boka en visning. </p>



	<div id="map" class="l-map"></div><br/>
  GPS koordinater: 57.609747, 12.047848

</div>


    <script>
      function initMap() {
        var uluru = {lat: 57.609747, lng: 12.047848};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA97l-D3WhxdKMWqUIsqbqfwku5l2Eol-Y&callback=initMap">
    </script>
