---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>
</div>

<h1> Gf33, en kontors- och lagerfastighet </h1>

<p> Gf33 är en kontors- och lagerfastighet som ligger på Banggårdsvägen 33. Bangårdsvägen ligger centralt i Kållered vid E6:an med en pendelsstågsstation precis bredvid. Vi erbjuder lager och kontorsyta på upp till 600 kvadratmeter. Det finns möjligheter att göra anpassningar av ytorna till nya hyresgäster.

Kontakta info@gf33.se om du vill ha mer information eller vill boka en visning. </p>
